# Global Rule
* @TravisRoy

# GitHub Actions/Templates
/.github/dependabot.yml @cloneofghosts
/.github/workflows/* @cloneofghosts
/.github/ISSUE_TEMPLATE/* @cloneofghosts

# HA Specific Workflows
/.github/workflows/hassfest.yaml @TravisRoy
/.github/workflows/validate.yaml @TravisRoy

# Remove CODEOWNER for requirements file
/requirements.txt
